body {
	margin: 0px;
	padding: 0px;
	background-color: #3d4de5;
	font-family: sans-serif;
}

.container {
	width: 80%;
	margin: 0 auto;
	background-color: white;
	background-image: url("../img/fundo.png");
	background-position: right bottom;
	background-repeat: no-repeat;
	padding: 15px;
	display: table;
	margin-top: 20px;
}

.topo {
	width: 100%;
	margin-top: 30px;
}

.logo {
	width: 220px;
	margin-left: 30px;
	float: left;
}

.menu {
	width: 750px;
	margin-top: 3px;
	overflow: auto;
}

.topo img {
	width: 220px;	
}

ul {
	list-style: none;
	font-size: 18px;
	margin-top: 20px;
}

.menu ul li {
	display: inline;
	padding: 15px;
	
}

a{
	text-decoration: none;
	color: #332192;
	
}

.corpo {
	margin: 40px 0px 80px 35px;
}

.corpo h4{
	font-size: 40px;
	margin: 0px;
}

.esquerdo {
	width: 32%;
	color: #332192;
}

.direito {
	width: 70%;
}

button {
	margin-top: 20px;
	width: 150px;
	height: 35px;
	border-radius: 50px;
	border: none;
	color: white;
	background-image: linear-gradient(to right, #9f6fCF, #CC759B, #Ef9f6F);
	cursor: pointer;
}

